mixin cookbook(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cookbook(class=spec.__class)&attributes(attributes)
    .heading
      h2 Food & Wine from Jo's cookbook
      a.view-link(href="#") view all recipes
        img.arrow(src="images/arrow.svg", alt="")

    ul.list-of-recipes
      each food in site.data.cookbook
        article
          .img-holder(style="background-image: url('#{food.image}');")
            h2 #{food.title}
          p.large #{food.subtitle}
          p.descr #{food.description}
          a.view-link(href="#") view #{food.subtitle}
          img.arrow(src="images/arrow.svg", alt="")


