mixin wine-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  ul.wine-grid(class=spec.__class)&attributes(attributes)
    each wine in site.data.wines
      li.wine-card
        img(src="#{wine.image}", alt="")
        p.wine-name
          span #{wine.name}
          |  #{wine.type}
        p.small #{wine.bottle} bottle  #{wine.case} case
        .hidden-items
          p 12 reviews
          .align-btns
            a.black-btn(href="/product.html") view wine
            a.red-btn(href="/product.html") add to cart
        
